* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #4073a5;
}

::-webkit-scrollbar-thumb:hover {
    background: #2c3e50;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    height: 8vh;
    width: 100%;
    background: #2c3e50;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header:hover {
    border-bottom: 1px solid #006eff;
}

#spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    border: 6px solid #fff;
    border-top: 6px solid #2196F3;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    display: none;
    z-index: 10000;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.openadd {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2c3e50;
    border: 1px solid #006eff8c;

    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;
}

.user-info i {
    font-size: 1.5rem;
    color: #0099ff;
}

.menu-toggle i {
    font-size: 1rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    padding: 7px 8px;
}

.searchBar {
    position: absolute;
    left: 5%;

    width: 12%;
    padding: 0.5%;
    border: #252525 solid 1px;
    border-radius: 5px;
}

.logout {
    display: none;
    position: absolute;
    top: 120%;
    left: 0;
    background: #34495e8c;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    color: crimson;
    cursor: pointer;
}

.menu-toggle:hover i {
    color: dodgerblue;
    border-right: 3px solid #0099ff;
    transform: scale(1.1);
    transition: transform 0.3s, color 0.3s;
}

.user-info:hover {
    color: rgb(0, 0, 0);
}

.user-info:hover i {
    color: #006eff;
    transition: color 0.3s;
}

.logout:hover {
    background: rgba(153, 153, 153, 0.253);
    color: rgba(0, 0, 0, 0.658);
}

.logout.active {
    display: block;
}

.sidebar {
    position: absolute;
    left: -15%;
    top: 8vh;
    width: 15%;
    max-height: 92vh;
    background: #2c3e50;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: left 0.3s ease-in-out;
    border-radius: 0px 0px 10px 0px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #006eff transparent;
}

.sidebar::-webkit-scrollbar {
    width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #006eff;
    border-radius: 5px;
}

.sidebar .settings-icon,
.sidebar .color-icon {
    color: #006eff;
}

.sidebar:hover {
    border-right: 1px solid #006eff;
    border-bottom: 1px solid #006eff;
}

.sidebar.active {
    left: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    margin: 10px 0;
    padding: 10px;
    border-radius: 0px 50px 50px 0px;
    background: rgba(0, 0, 0, 0.3);
    transition: background 0.3s, transform 0.2s;
    white-space: nowrap;
}

.sidebar li:hover {
    background: rgba(185, 185, 185, 0.281);
    transform: scale(1.05);
    color: #000000;
    cursor: pointer;
    border-top: 1px solid #1463ca;
    border-right: 2px solid #1463ca;
}

.settings-dropdown {
    display: none;
    list-style: none;
    padding-left: 20px;
}

.settings-dropdown.active {
    display: block;
}

.settings-dropdown li {
    padding: 5px;
    font-size: 1rem;
    background: #34495e;
    margin: 5px 0;
    border-radius: 5px;
    transition: background 0.3s;
}

.settings-dropdown li:hover {
    background: dodgerblue;
}

.settings-icon {
    font-size: 0.6rem;
    margin-left: 20px;

}

.span {
    margin-left: 10px;
    color: #fff;

}

.user-arrow {
    font-size: 0.4rem;
    transform: scale(0.4);
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #0c0c0c;
    color: #faf8f8;
    padding: 10px;
}

.success-message {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(40, 167, 69, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
    z-index: 999;
}

.error-message {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(220, 53, 69, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
    z-index: 999;
}

footer {
    background: #1b2631;
    color: white;
    text-align: center;
    padding: 10px 20px;
}

footer:hover {
    border-top: 1px solid #006eff;
}

.contact-info p,
.copyright p {
    margin: 20px;
}

.social-media a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.5s ease;
}

.social-media a:hover {
    color: hsl(27, 90%, 43%);
    transform: scale(1.1);
}

.contact-info p,
.copyright p {
    margin: 20px;
}

.social-media a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.5s ease;
}

.social-media a:hover {
    color: hsl(27, 90%, 43%);
    transform: scale(1.1);
}

.up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    padding: 10px;
    background-color: #0000001c;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #0099ff60;
    border: 0.5px solid #006eff48;
    font-size: 30px;
    transform: 1000s;
}

.up:hover {
    background-color: rgb(19, 58, 104);
    transform: scale(1.1);
    color: hsl(214, 80%, 38%);
    border-top: 3px solid #0099ff;
    transition: transform 0.3s, color 0.3s;
}

/*//////////////////////// Table styling /////////////////////////////////////*/



.floating-button {
    position: absolute;
    top: 10%;
    right: 40px;
    transform: translateY(-50%);
    text-align: center;
}

.button-text {
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5px;
}

.add-btn {
    cursor: pointer;
    background-color: #191c24;
    padding: 4px 5px;
    border-radius: 50%;
    border: 1px solid #26c711;
    color: #236b15;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 20px;
}

.add-btn:hover {
    border: 1px solid #1eff00;
    color: #35d316;
    transform: scale(1.1);
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container input,
.form-container textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-container button {
    padding: 10px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: dodgerblue;
}

.update-btn {
    background-color: #008000;
    color: white;
    padding: 0px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn {
    background-color: #800400;
    color: white;
    padding: 0px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update-btn:hover {
    background-color: #218838;
}

.delete-btn:hover {
    background-color: #c82333;
}

/* Media query for mobile */
@media (max-width: 768px) {
    .sidebar {
        width: 50%;
        left: -50%;
    }

    .sidebar.active {
        left: 0;
    }
}

/* Media query for tablet */
@media (min-width: 769px) and (max-width: 1024px) {
    .sidebar {
        width: 20%;
        left: -20%;
        top: 10%;
    }

    .sidebar.active {
        left: 0;
    }

    .floating-button {
        top: 25%;
    }

    .searchBar {
        left: 7%;
        width: 15%;
    }

    header {
        height: 10vh;
    }

    table th {
        font-size: 1.2rem;
        padding: 4px;
    }

    table td {
        font-size: 1.2rem;
        padding: 4px;
    }

    .sidebar li {
        font-size: 0.8rem;
    }
}

/* Media query for desktop */
@media (min-width: 1025px) {
    .sidebar {
        width: 15%;
        left: -15%;
    }

    .sidebar.active {
        left: 0;
    }
}

/* Responsive table for smaller screens */
@media (max-width: 768px) {
    table {
        font-size: 1.3rem;
    }

    table th,
    table td {
        padding: 8px;
    }

    .floating-button {
        top: 20%;
    }
}

/* Responsive table for smaller screens */
@media (max-width: 468px) {
    table {
        font-size: 1.2rem;
    }

    table th,
    table td {
        padding: 8px;
    }

    .floating-button {
        top: 12%;
        right: 6%;
    }

    .searchBar {
        left: 15%;
        width: 32%;
    }

    header {
        height: 4vh;
    }

    .sidebar.active {
        top: 4%;
    }
}

@media (min-width: 1025px) {

    table th,
    table td {
        padding: 4px;
        font-size: 1.5rem;
    }

    .floating-button {
        top: 20%;
    }
}


.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 900px;
    margin: auto;
    padding-top: 20px;
}

.grid-item {
    text-align: center;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #1e1e1e;
    transition: all 0.3s ease;
    cursor: pointer;
}

.icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
    color: #cecece;
}

.description {
    font-size: 14px;
    color: #555;
}

.grid-item:hover {
    border: 1px solid #4b4b4b;
    transform: translateY(-5px);
}

.grid-item:active {
    background-color: #d1ecf1;
    border-color: #0056b3;
}


/**-------------------------------**/



h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 30px;
}

label {
    font-weight: bold;
    color: #aaa;
    display: block;
    margin-top: 20px;
}

input[type="text"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

.form-row {
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
}

.form-row>div {
    flex: 1;
}

.buttons {
    margin-top: 30px;
}

.buttons button {
    background: #27b70a;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.buttons button:hover {
    opacity: 0.8;

}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    color: white;
    margin-top: 10px;
}

.dropdown-content.show {
    max-height: 200px;
}

.dropdown-content p {
    margin: 5px 0;
    background-color: #222;
    max-width: 120px;

    padding: 8px;
    border-radius: 5px;
}

.dropdown-content p:hover {
    background-color: #6d6c6c;
}

/*********************/


.row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.row input,
.row select {
    flex: 1;
    margin-right: 5px;
    padding: 5px;
    font-size: 12px;
}

.row input:last-child,
.row select:last-child {
    margin-right: 0;
}

.add-button {
    text-align: center;
    padding: 3px 3px;
    cursor: pointer;
    background-color: #27b70a;
    border-radius: 50%;
    border: #6c9393 solid 1px;
    width: 30px;
    height: 30px;
}

.add-button:hover {
    background-color: #18580b;
    transform: scale(1.1);
}

.add-button img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.save-button {
    text-align: left;
    margin: 10px 0;
}

.save-button button {
    padding: 5px 20px;
    font-size: 12px;
}

.total-price-order {
    text-align: right;
    margin-top: 5px;
}

.total-price-order input {
    width: 100px;
    padding: 5px;
    font-size: 12px;
}

/*//////////////////////////////////*/

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    color: #ffffff;
}

th,
td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #191C24;
    font-weight: bold;
}

td {
    word-wrap: break-word;
}

tr:hover {
    background-color: #a0a0a038;
}



th,
td {
    padding: 15px;
}

td {
    text-align: center;
}